@page "/"
    <h1>Video Playlists</h1>
    <h2>By Tech Category</h2>
    <h3>Blazor</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kGLmCm3a_p3gwkGxeGIHEbe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Kubernetes</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kFNOQ51L7eRABnEuL86ybmY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Azure Feautres</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kE_Q0GvfQmLt-qz94ydFrzj" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Azure SQL</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kEjSQpjcTLcyyC1-cSqiCVl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Web Applications</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kG2JuSWHjxKIb-5ax8WbAnS" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>.Net Core</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kF-4qVz8cDKzO6sI2ndkRqw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2>By Project</h2>
    <h3>WireGuard</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kGcfAFDwiGlfmf2mSODSIoY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Hot Dog Application</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kE8svt5NfzxjWzVuqgFW_pA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>CryptoTrader</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLUQ4D25da8kHkIWskfWtPmupkNHqtsLVX" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>