@page "/"
@using Hotdogapp.Shared.Models
@using Hotdogapp.Shared.Services
@using System.IO
@using BlazorInputFile
@inject NavigationManager navigationManager
@inject HttpClient _httpClient



<InputFile id="image-picker" OnChange="HandlePhotoSelected" accept="image/*" />
<br />
<label class="text-button" for="image-picker">
    <img src="@_photoURL" />
</label>
<br />
<br />
@if (isDetectingHotDog) {
    <h2>Checing if it is a hotdog</h2>
<Pulse />
}
@if (_hotDogResult != null)
{

    @if (_hotDogResult.isHotDog)
    {
        <h2>It is a hotdog!</h2>
    }
    else
    {
        <h2>It is NOT a hotdog!</h2>
    }
}




@code
{
    private string _photoURL;
    private bool isDetectingHotDog;
    private HotDogResultModel _hotDogResult;


    private async Task HandlePhotoSelected(IFileListEntry[] files)
    {
        var sourceFile = files.FirstOrDefault();
        if (sourceFile != null)
        {
            // Convert to reasonably-sized JPEG
            var imageFile = await sourceFile.ToImageFileAsync("image/jpeg", 800, 600);

            // Represent it as a data URL we can display
            MemoryStream bytes = await imageFile.ReadAllAsync();
            _photoURL = bytes.ToDataUrl("image/jpeg");
            //send to server
            isDetectingHotDog = true;
            StateHasChanged();
            var response = await _httpClient.PostAsync("api/DetectHotDog", new StringContent(_photoURL));
            _hotDogResult = await response.Content.ReadFromJsonAsync<HotDogResultModel>();


            isDetectingHotDog = false;
        }
    }


}